<section class="container centered-text">
    <h1>Les lieux où se rafraîchir à Paris par arrondissement</h1>

    <% if false %>
        <%= image_tag "undraw_refreshing_beverage.png", height:"400px" %>
        <br>
    <% end %>
</section>

<p class="centered-text">Pour trouver où te rafraîchir, clique sur l'arrondissement qui t'intéresse (ou tu peux aussi utiliser les liens):</p>

<div class="flex-container-map">
    <%= image_tag "paris_map.png", usemap: "#neighborhoodmap", class:"map" %>
    <ul>
        <% @neighborhoods.each do |neighborhood| %>
            <li><%= link_to neighborhood.name, neighborhood_path(neighborhood.number) %></li>
        <% end %>
    </ul>
</div>

<map name="neighborhoodmap">
    <% coords_to_map.map do |coord| %>
        <area shape="circle" coords=<%=coord[:coords]%> href="neighborhoods/<%=coord[:number]%>" alt="<%=coord[:name]%>" title="<%=coord[:name]%>">
    <% end %>
</map>

<p>Ce site regroupe des données de <%= link_to "Paris Open Data", "https://opendata.paris.fr/pages/home/", :target => "_blank" %>.
</p>
<p>Les données utilisées:</p>
<ul>
    <li>
        <%= link_to "Ilots de fraîcheur - Equipements / Activités", "https://opendata.paris.fr/explore/dataset/ilots-de-fraicheur-equipements-activites", :target => "_blank" %> : les îlots de fraîcheur à Paris sont des lieux d’accueil, de halte et/ou de repos, accessibles au grand public et repérés comme source de rafraîchissement par rapport à leur environnement proche en période chaude ou caniculaire.
    </li>
    <li>
        <%= link_to "Ilots de fraîcheur - Espaces verts frais", "https://opendata.paris.fr/explore/dataset/ilots-de-fraicheur-espaces-verts-frais", :target => "_blank" %> : des espaces verts « frais » de la Ville de Paris ainsi que certains parcs et jardins de l’Etat classés en fonction de leur part de végétation haute (ombrage attendu) et de leurs ouvertures nocturnes.
        Je n'ai pas mis les jardins partagés, il y a un <%= link_to "répertoire des jardins partagés", "https://jardinons-ensemble.org/spip.php?rubrique10#2024-08-07", :target => "_blank" %> si tu veux en rejoindre un près de chez toi.
    </li>
    <li>
        <%= link_to "Fontaines à boire", "https://opendata.paris.fr/explore/dataset/fontaines-a-boire", :target => "_blank" %> : Il y a 1 200 points d’eau dans les rues, les parcs et les bois de Paris. Par praticité, nous avons sélectionné ceux du jeu de données qui avaient une adresse et pas juste des coordonnées latitude/longitude.
        Il existe déjà une <%= link_to "carte de tous les endroits où boire gratuitement de l'eau à Paris", "https://fontaine.eaudeparis.fr/", :target => "_blank" %>.
    </li>
</ul>

<p>Réalisé par <%= link_to "Juliette Audema", "https://www.linkedin.com/in/juliette-audema/" %>. <%= link_to "Code Source.", "https://github.com/AJuliette/paris-fresh/" %>
<p>Carte des arrondissements de <%= link_to "Freepik", "https://www.freepik.com/" %> ("Isometric paris city map infographics").