<iframe src=<%="https://macarte.ign.fr/carte/#{@neighborhood.ign_map}/Paris-Fresh-#{@neighborhood.number}"%> width="100%" height="480px" allow="geolocation clipboard-read; clipboard-write">
</iframe>

<h2 class="centered-text"><%= @neighborhood.name%></h2>

<%= render partial: "fresh_places/show_partial", locals: { fresh_places: @fresh_places } %>

<%= render partial: "green_spaces/show_partial", locals: { green_spaces: @green_spaces } %>

<%= render partial: "fountains/show_partial", locals: { fountains: @fountains } %>

<div class="container">
    <div class="flex-container-centered">
        <div class="card">
            <div class="card-content-button">
                <div class="read-more">
                    <%= link_to "Retour en arrière", root_path, class: "button" %>
                </div>
            </div>
        </div>
    </div>
</div>

<p>Réalisé par <%= link_to "Juliette Audema", "https://www.linkedin.com/in/juliette-audema/" %>. <%= link_to "Code Source.", "https://github.com/AJuliette/paris-fresh/" %>
