<h2 class="centered-text">Ilots de fraîcheur - Equipements / Activités</h2>


<% FreshPlace.place_types.map do |place_type,v| %>
    <% if neighborhood_has_place_type?(@neighborhood, place_type) %>
        <h3 class="centered-text"><%= place_type_translated(place_type) %></h3>
        <div class="container">
            <div class="flex-container">
                <% fresh_places_corresponding_to_place_type(fresh_places, place_type).each do |fresh_place| %>
                    <div class="card">
                        <div class="card-content">
                            <p class="emoji"><%= type_to_emoji(fresh_place.place_type) %></p>
                            <h3><%= fresh_place.name %></h3>
                            <div class="subtitle"><%= fresh_place.street_address %></div>
                        </div>
                        <div class="card-details">
                            <div class="card-details-inner">
                            Gratuit: <%= boolean_to_text(fresh_place.free) %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    <% end %>
<% end %>

