<h2 class="centered-text"><%= @neighborhood.name%></h2>

<div class="container">
    <div class="flex-container">
        <% fresh_places.each do |fresh_place| %>
            <div class="card">
                <div class="card-content">
                    <p class="emoji"><%= type_to_emoji(fresh_place.place_type) %></p>
                    <h3><%= fresh_place.name %></h3>
                    <div class="subtitle"><%= fresh_place.street_address %></div>
                </div>
                <div class="card-details">
                    <div class="card-details-inner">
                    Gratuit: <%= boolean_to_text(fresh_place.free) %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
